agent_bond_config: "{{ lookup('env', 'BOND_CONFIG') }}"
agent_deploy_mce: "{{ lookup('env', 'AGENT_DEPLOY_MCE') }}"
agent_extra_workers_macs: "{{ lookup('env', 'AGENT_EXTRA_WORKERS_MACS_STR') }}"
agent_extra_workers_ips: "{{ lookup('env', 'AGENT_EXTRA_WORKERS_IPS_STR') }}"
agent_extra_workers_ipsv6: "{{ lookup('env', 'AGENT_EXTRA_WORKERS_IPSV6_STR') }}"
agent_extra_workers_hostnames: "{{ lookup('env', 'AGENT_EXTRA_WORKERS_HOSTNAMES_STR') }}"
agent_install_config_bm_hosts: "{{ lookup('env', 'AGENT_BM_HOSTS_IN_INSTALL_CONFIG') }}"
agent_minimal_iso: "{{ lookup('env', 'AGENT_MINIMAL_ISO') }}"
agent_nmstate_dhcp: "{{ lookup('env', 'AGENT_NMSTATE_DHCP') }}"
agent_nodes_bmc_addresses: "{{ lookup('env', 'AGENT_NODES_BMC_ADDRESSES_STR') }}"
agent_nodes_bmc_passwords: "{{ lookup('env', 'AGENT_NODES_BMC_PASSWORDS_STR') }}"
agent_nodes_bmc_usernames: "{{ lookup('env', 'AGENT_NODES_BMC_USERNAMES_STR') }}"
agent_nodes_macs: "{{ lookup('env', 'AGENT_NODES_MACS_STR') }}"
agent_nodes_ips: "{{ lookup('env', 'AGENT_NODES_IPS_STR') }}"
agent_nodes_ipsv6: "{{ lookup('env', 'AGENT_NODES_IPSV6_STR') }}"
agent_nodes_hostnames: "{{ lookup('env', 'AGENT_NODES_HOSTNAMES_STR') }}"
agent_root_device_hints: "{{ lookup('env', 'AGENT_ROOT_DEVICE_HINTS') }}"
agent_use_ztp_manifests: "{{ lookup('env', 'AGENT_USE_ZTP_MANIFESTS') }}"
agent_test_cases: "{{ lookup('env', 'AGENT_TEST_CASES') }}"
base_domain: "{{ lookup('env', 'BASE_DOMAIN') }}"
boot_mode: "{{ lookup('env', 'AGENT_E2E_TEST_BOOT_MODE') }}"
boot_server_url: "{{ lookup('env', 'BOOT_SERVER_URL')}}"
cluster_host_prefix_v4: "{{ lookup('env', 'CLUSTER_HOST_PREFIX_V4') }}"
cluster_host_prefix_v6: "{{ lookup('env', 'CLUSTER_HOST_PREFIX_V6') }}"
cluster_name: "{{ lookup('env', 'CLUSTER_NAME') }}"
cluster_namespace: "{{ lookup('env', 'CLUSTER_NAMESPACE') }}"
cluster_provisioning_ip: "{{ lookup('env', 'CLUSTER_PROVISIONING_IP') }}"
cluster_provisioning_interface: "{{ lookup('env', 'CLUSTER_PRO_IF') }}"
cluster_subnet_v4: "{{ lookup('env', 'CLUSTER_SUBNET_V4') }}"
cluster_subnet_v6: "{{ lookup('env', 'CLUSTER_SUBNET_V6') }}"
enable_local_registry: "{{ lookup('env', 'ENABLE_LOCAL_REGISTRY') != '' }}"
external_subnet_v4: "{{ lookup('env', 'EXTERNAL_SUBNET_V4') }}"
external_subnet_v6: "{{ lookup('env', 'EXTERNAL_SUBNET_V6') }}"
external_subnet_v4_prefixlen: "{{ lookup('env', 'EXTERNAL_SUBNET_V4') | ansible.utils.ipaddr('prefix') }}"
external_subnet_v6_prefixlen: "{{ lookup('env', 'EXTERNAL_SUBNET_V6') | ansible.utils.ipaddr('prefix') }}"
fips_mode: "{{ lookup('env', 'FIPS_MODE') | bool }}"
http_proxy: "{{ lookup('env', 'AGENT_HTTP_PROXY') }}"
https_proxy: "{{ lookup('env', 'AGENT_HTTPS_PROXY') }}"
image: "{{ lookup('env', 'IMAGE') }}"
ip_stack: "{{ lookup('env', 'IP_STACK') }}"
local_image_url_suffix: "{{ lookup('env', 'LOCAL_IMAGE_URL_SUFFIX') }}"
local_registry_dns_name: "{{ lookup('env', 'LOCAL_REGISTRY_DNS_NAME') }}"
local_registry_port: "{{ lookup('env', 'LOCAL_REGISTRY_PORT') }}"
manifests_path: "{{ lookup('env', 'MANIFESTS_PATH') }}"
mirror_images: "{{ lookup('env', 'MIRROR_IMAGES') | bool }}"
mirror_path: "{{ lookup('env', 'MIRROR_PATH') }}"
mirror_info_file: "{{ lookup('env', 'MIRROR_INFO_FILE', default='') }}"
mirror_command: "{{ lookup('env', 'MIRROR_COMMAND') }}"
networking_mode: "{{ lookup('env', 'NETWORKING_MODE') }}"
network_type: "{{ lookup('env', 'NETWORK_TYPE') }}"
num_masters: "{{ lookup('env', 'NUM_MASTERS') }}"
num_workers: "{{ lookup('env', 'NUM_WORKERS') }}"
num_extra_workers: "{{ lookup('env', 'NUM_EXTRA_WORKERS', default='0') }}"
no_proxy: "{{ lookup('env', 'AGENT_NO_PROXY') }}"
platform_type: "{{ lookup('env', 'AGENT_PLATFORM_TYPE') }}"
platform_name: "{{ lookup('env', 'AGENT_PLATFORM_NAME') }}"
provisioning_host_external_ip: "{{ lookup('env', 'PROVISIONING_HOST_EXTERNAL_IP') }}"
provisioning_network: "{{ lookup('env', 'PROVISIONING_NETWORK') }}"
provisioning_network_name: "{{ lookup('env', 'PROVISIONING_NETWORK_NAME') }}"
provisioning_network_profile: "{{ lookup('env', 'PROVISIONING_NETWORK_PROFILE') }}"
pull_secret: "{{ lookup('env', 'PULL_SECRET_FILE') }}"
pull_secret_contents: "{{ lookup('file', pull_secret) | to_json }}"
registry_crt: "{{ lookup('env', 'REGISTRY_CRT')}}"
registry_dir: "{{ lookup('env', 'REGISTRY_DIR')}}"
ssh_pub_key: "{{ lookup('env', 'SSH_PUB_KEY') }}"
service_subnet_v4: "{{ lookup('env', 'SERVICE_SUBNET_V4') }}"
service_subnet_v6: "{{ lookup('env', 'SERVICE_SUBNET_V6') }}"
version: "{{ lookup('env', 'VERSION') }}"
