agent_deploy_mce: "{{ lookup('env', 'AGENT_DEPLOY_MCE') }}"
agent_nodes_macs: "{{ lookup('env', 'AGENT_NODES_MACS_STR') }}"
agent_nodes_ips: "{{ lookup('env', 'AGENT_NODES_IPS_STR') }}"
agent_nodes_ipsv6: "{{ lookup('env', 'AGENT_NODES_IPSV6_STR') }}"
agent_nodes_hostnames: "{{ lookup('env', 'AGENT_NODES_HOSTNAMES_STR') }}"
agent_use_ztp_manifests: "{{ lookup('env', 'AGENT_USE_ZTP_MANIFESTS') }}"
agent_test_cases: "{{ lookup('env', 'AGENT_TEST_CASES') }}"
base_domain: "{{ lookup('env', 'BASE_DOMAIN') }}"
boot_mode: "{{ lookup('env', 'AGENT_E2E_TEST_BOOT_MODE') }}"
cluster_host_prefix_v4: "{{ lookup('env', 'CLUSTER_HOST_PREFIX_V4') }}"
cluster_host_prefix_v6: "{{ lookup('env', 'CLUSTER_HOST_PREFIX_V6') }}"
cluster_name: "{{ lookup('env', 'CLUSTER_NAME') }}"
cluster_namespace: "{{ lookup('env', 'CLUSTER_NAMESPACE') }}"
cluster_subnet_v4: "{{ lookup('env', 'CLUSTER_SUBNET_V4') }}"
cluster_subnet_v6: "{{ lookup('env', 'CLUSTER_SUBNET_V6') }}"
external_subnet_v4: "{{ lookup('env', 'EXTERNAL_SUBNET_V4') }}"
external_subnet_v6: "{{ lookup('env', 'EXTERNAL_SUBNET_V6') }}"
image: "{{ lookup('env', 'IMAGE') }}"
ip_stack: "{{ lookup('env', 'IP_STACK') }}"
local_image_url_suffix: "{{ lookup('env', 'LOCAL_IMAGE_URL_SUFFIX') }}"
local_registry_dns_name: "{{ lookup('env', 'LOCAL_REGISTRY_DNS_NAME') }}"
local_registry_port: "{{ lookup('env', 'LOCAL_REGISTRY_PORT') }}"
manifests_path: "{{ lookup('env', 'MANIFESTS_PATH') }}"
mirror_images: "{{ lookup('env', 'MIRROR_IMAGES') != '' }}"
mirror_path: "{{ lookup('env', 'MIRROR_PATH') }}"
mirror_info_file: "{{ lookup('env', 'MIRROR_INFO_FILE', default='') }}"
mirror_command: "{{ lookup('env', 'MIRROR_COMMAND') }}"
networking_mode: "{{ lookup('env', 'NETWORKING_MODE') }}"
network_type: "{{ lookup('env', 'NETWORK_TYPE') }}"
num_masters: "{{ lookup('env', 'NUM_MASTERS') }}"
num_workers: "{{ lookup('env', 'NUM_WORKERS') }}"
provisioning_host_external_ip: "{{ lookup('env', 'PROVISIONING_HOST_EXTERNAL_IP') }}"
pull_secret: "{{ lookup('env', 'PULL_SECRET_FILE') }}"
pull_secret_contents: "{{ lookup('file', pull_secret) | to_json }}"
pxe_server_url: "{{ lookup('env', 'PXE_SERVER_URL')}}"
ssh_pub_key: "{{ lookup('env', 'SSH_PUB_KEY') }}"
service_subnet_v4: "{{ lookup('env', 'SERVICE_SUBNET_V4') }}"
service_subnet_v6: "{{ lookup('env', 'SERVICE_SUBNET_V6') }}"
version: "{{ lookup('env', 'VERSION') }}"
