ocp/
*.qcow2
openshift-install.log
logs/
config_*.sh
!config_example.sh
clouds.yaml
_clouds_yaml
metal3-dev/deployment-*.yaml
assets/generated
squid.conf

# Conditionally created for appropriate environments
assets/templates/99_master-chronyd-redhat.yaml
assets/templates/99_worker-chronyd-redhat.yaml

pull_secret.json
