ocp/
*.qcow2
openshift-install.log
logs/
config_*.sh
!config_example.sh
clouds.yaml

release/release_config_*.sh
!release/release_config_example.sh
release/release-kubeconfig
release/release-pullsecret

assets/generated

# Conditionally created for appropriate environments
assets/templates/99_master-chronyd-redhat.yaml
assets/templates/99_worker-chronyd-redhat.yaml
