{
  "nodes": [
      {
      "name": "openshift-master-0",
      "driver": "ipmi",
      "resource_class": "baremetal",
      "driver_info": {
        "ipmi_username": "root",
        "ipmi_password": "passw0rd",
        "ipmi_address": "1.1.1.1",
        "deploy_kernel": "http://172.22.0.2/images/ironic-python-agent.kernel",
        "deploy_ramdisk": "http://172.22.0.2/images/ironic-python-agent.initramfs"
      },
      "ports": [{
        "address": "09:e1:e4:56:44:e5",
        "pxe_enabled": true
      }],
      "properties": {
        "local_gb": "50",
        "cpu_arch": "x86_64"
      }
    },
     {
      "name": "openshift-master-1",
      "driver": "ipmi",
      "resource_class": "baremetal",
      "driver_info": {
        "ipmi_username": "root",
        "ipmi_password": "passw0rd",
        "ipmi_address": "1.1.1.2",
        "deploy_kernel": "http://172.22.0.2/images/ironic-python-agent.kernel",
        "deploy_ramdisk": "http://172.22.0.2/images/ironic-python-agent.initramfs"
      },
      "ports": [{
        "address": "cb:77:ab:53:9c:30",
        "pxe_enabled": true
      }],
      "properties": {
        "local_gb": "50",
        "cpu_arch": "x86_64"
      }
    },
     {
      "name": "openshift-master-2",
      "driver": "ipmi",
      "resource_class": "baremetal",
      "driver_info": {
        "ipmi_username": "root",
        "ipmi_password": "passw0rd",
        "ipmi_address": "1.1.1.3",
        "deploy_kernel": "http://172.22.0.2/images/ironic-python-agent.kernel",
        "deploy_ramdisk": "http://172.22.0.2/images/ironic-python-agent.initramfs"
      },
      "ports": [{
        "address": "8e:af:c4:d0:a3:b4",
        "pxe_enabled": true
      }],
      "properties": {
        "local_gb": "50",
        "cpu_arch": "x86_64"
      }
    },
     {
      "name": "openshift-worker-0",
      "driver": "ipmi",
      "resource_class": "baremetal",
      "driver_info": {
        "ipmi_username": "root",
        "ipmi_password": "passw0rd",
        "ipmi_address": "1.1.1.4",
        "deploy_kernel": "http://172.22.0.2/images/ironic-python-agent.kernel",
        "deploy_ramdisk": "http://172.22.0.2/images/ironic-python-agent.initramfs"
      },
      "ports": [{
        "address": "8e:af:c4:d0:a3:b5",
        "pxe_enabled": true
      }],
      "properties": {
        "local_gb": "50",
        "cpu_arch": "x86_64"
      }
    },
     {
      "name": "openshift-worker-1",
      "driver": "ipmi",
      "resource_class": "baremetal",
      "driver_info": {
        "ipmi_username": "root",
        "ipmi_password": "passw0rd",
        "ipmi_address": "1.1.1.5",
        "deploy_kernel": "http://172.22.0.2/images/ironic-python-agent.kernel",
        "deploy_ramdisk": "http://172.22.0.2/images/ironic-python-agent.initramfs"
      },
      "ports": [{
        "address": "8e:af:c4:d0:a3:b6",
        "pxe_enabled": true
      }],
      "properties": {
        "local_gb": "50",
        "cpu_arch": "x86_64"
      }
    },
     {
      "name": "openshift-worker-2",
      "driver": "ipmi",
      "resource_class": "baremetal",
      "driver_info": {
        "ipmi_username": "root",
        "ipmi_password": "passw0rd",
        "ipmi_address": "1.1.1.6",
        "deploy_kernel": "http://172.22.0.2/images/ironic-python-agent.kernel",
        "deploy_ramdisk": "http://172.22.0.2/images/ironic-python-agent.initramfs"
      },
      "ports": [{
        "address": "8e:af:c4:d0:a3:b7",
        "pxe_enabled": true
      }],
      "properties": {
        "local_gb": "50",
        "cpu_arch": "x86_64"
      }
    }
  ]
}
