apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevirt-config
  namespace: kubevirt
data:
  feature-gates: "DataVolumes,LiveMigration"
  migrations: |-
    nodeDrainTaintKey: node.kubernetes.io/unschedulable
