vrrp_script chk_ocp {
    script "curl -o /dev/null -kLs https://0:6443/readyz"
    interval 1
    weight 50
}
vrrp_instance API {
    state BACKUP
    interface ${INTERFACE}
    virtual_router_id 51
    priority 40
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass cluster_uuid_api_vip
    }
    virtual_ipaddress {
        ${API_VIP}
    }
    track_script {
        chk_ocp
    }
}
