[Unit]
Description=mDNS announcing with Avahi
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/etc/avahi/.avahi.done

[Service]
WorkingDirectory=/etc/avahi
ExecStart=/usr/local/bin/avahi.sh

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

