[Unit]
Description=mDNS announcing with Avahi
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/etc/avahi
ExecStartPre=/usr/local/bin/avahi.sh
ExecStart=/usr/bin/podman start -a avahi
ExecStop=/usr/bin/podman stop -t 10 avahi

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

