. {
    errors
    health
    mdns $DOMAIN 0 $NAME
    forward . /etc/coredns/resolv.conf
    cache 30
    reload
    hosts /etc/coredns/api-int.hosts $CLUSTER_DOMAIN {
        $API_VIP api-int.$CLUSTER_DOMAIN
        fallthrough
    }
}
