{% import 'net_macros.yaml' as net %}

{% set ips = agent_nodes_ips.split(',') %}
{% set ipsv6 = agent_nodes_ipsv6.split(',') %}
{% set macs = agent_nodes_macs.split(',') %}
{% set hostnames = agent_nodes_hostnames.split(',') %}
apiVersion: v1alpha1
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
{% if ip_stack == "v4" or ip_stack == "v4v6" %}
rendezvousIP: {{ ips[0] }}
{% else %}
rendezvousIP: {{ ipsv6[0] }}
{% endif %}
{% if boot_mode == "PXE" %}
ipxeBaseURL: {{ pxe_server_url }}
{% endif %}
hosts:
{% for hostname in hostnames %}
    - hostname: {{ hostname }}
      interfaces:
        - name: eth0
          macAddress: {{ macs[2*loop.index0] }}
        - name: eth1
          macAddress: {{ macs[2*loop.index0+1] }}
      networkConfig:
        interfaces:
      {{ net.interfaces("eth0", macs[2*loop.index0])|indent(4, True) }}
      {{ net.interfaces("eth1", macs[2*loop.index0+1])|indent(4, True) }}
      {{ net.bond("bond0", agent_bond_config)|indent(4, True) }}
{% if ip_stack == "v4" %}
            ipv4:
          {{ net.ip(networking_mode, ips[loop.index0], external_subnet_v4_prefixlen)|indent(4, True) }}
    {{ net.dns(provisioning_host_external_ip)|indent(4, True)  }}
    {{ net.route("bond0", "0.0.0.0/0", provisioning_host_external_ip)|indent(4, True) }}
{% elif ip_stack == "v6" %}
            ipv6:
          {{ net.ip(networking_mode, ipsv6[loop.index0], external_subnet_v6_prefixlen)|indent(4, True) }}
    {{ net.dns(provisioning_host_external_ip)|indent(4, True) }}
    {{ net.route("bond0", "::/0", provisioning_host_external_ip)|indent(4, True) }}
{% else %}
            ipv4:
          {{ net.ip(networking_mode, ips[loop.index0], external_subnet_v4_prefixlen)|indent(4, True) }}
            ipv6:
          {{ net.ip(networking_mode, ipsv6[loop.index0], external_subnet_v6_prefixlen)|indent(4, True) }}
    {{ net.dns_dualstack(provisioning_host_external_ip, provisioning_host_external_ip_dualstack)|indent(4, True) }}
    {{ net.route_dualstack("bond0", provisioning_host_external_ip, provisioning_host_external_ip_dualstack)|indent(4, True) }}
{% endif %}
{% endfor %}
