apiVersion: v1beta1
kind: ApplianceConfig
ocpRelease:
  version: {{ version }}
  channel: candidate
  cpuArchitecture: {{ ansible_architecture }}
diskSizeGB: 200
pullSecret: {{ pull_secret_contents }}
sshKey: {{ ssh_pub_key }}
imageRegistry:
  uri: quay.io/libpod/registry:2.8
