apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: {{ ansible_facts['devscripts']['cluster_name'] }}-pull-secret
  namespace: {{ ansible_facts['devscripts']['cluster_name'] }}
stringData:
  .dockerconfigjson: '{{ ansible_facts['devscripts']['pull_secret'] }}'