{% import 'net_macros.yaml' as net %}

{% set ips = agent_nodes_ips.split(',') %}
{% set ipsv6 = agent_nodes_ipsv6.split(',') %}
{% set macs = agent_nodes_macs.split(',') %}
{% set hostnames = agent_nodes_hostnames.split(',') %}
{% for hostname in hostnames %}
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: {{ hostname }}
  namespace: openshift-machine-api
  labels:
    {{ cluster_namespace }}-nmstate-label-name: {{ cluster_namespace }}-nmstate-label-value
spec:
  config:
    interfaces:
      {{ net.interfaces("eth0", macs[2*loop.index0]) }}
      {{ net.interfaces("eth1", macs[2*loop.index0+1]) }}
      {{ net.bond("bond0", agent_bond_config) }}
{% if ip_stack == "v4" %}
        ipv4:
          {{ net.ip(networking_mode, ips[loop.index0], external_subnet_v4_prefixlen) }}
    {{ net.dns(provisioning_host_external_ip) }}
    {{ net.route("bond0", "0.0.0.0/0", provisioning_host_external_ip) }}
{% elif ip_stack == "v6" %}
        ipv6:
          {{ net.ip(networking_mode, ipsv6[loop.index0], external_subnet_v6_prefixlen) }}
    {{ net.dns(provisioning_host_external_ip) }}
    {{ net.route("bond0", "::/0", provisioning_host_external_ip) }}
{% else %}
        ipv4:
          {{ net.ip(networking_mode, ips[loop.index0], external_subnet_v4_prefixlen) }}
        ipv6:
          {{ net.ip(networking_mode, ipsv6[loop.index0], external_subnet_v6_prefixlen) }}
    {{ net.dns_dualstack(provisioning_host_external_ip, provisioning_host_external_ip_dualstack) }}
    {{ net.route_dualstack("bond0", provisioning_host_external_ip, provisioning_host_external_ip_dualstack) }}
{% endif %}
  interfaces:
    - name: "eth0"
      macAddress: {{ macs[2*loop.index0] }} 
    - name: "eth1"
      macAddress: {{ macs[2*loop.index0+1] }} 
---
{% endfor %}
