{% import 'net_macros.yaml' as net %}

{% set ips = agent_nodes_ips.split(',') %}
{% set ipsv6 = agent_nodes_ipsv6.split(',') %}
{% set macs = agent_nodes_macs.split(',') %}
{% set hostnames = agent_nodes_hostnames.split(',') %}
{% for hostname in hostnames %}
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: {{ hostname }}
  namespace: openshift-machine-api
  labels:
    {{ cluster_namespace }}-nmstate-label-name: {{ cluster_namespace }}-nmstate-label-value
spec:
  config:
    {{ net.interfaces(macs[loop.index0]) }}
{% if ip_stack == "v4" %}
        ipv4:
          {{ net.ip(ips[loop.index0], cluster_host_prefix_v4) }}
    {{ net.dns(provisioning_host_external_ip) }}
    {{ net.route("0.0.0.0/0", provisioning_host_external_ip) }}
{% elif ip_stack == "v6" %}
        ipv6:
          {{ net.ip(ipsv6[loop.index0], cluster_host_prefix_v6) }}
    {{ net.dns(provisioning_host_external_ip) }}
    {{ net.route("::/0", provisioning_host_external_ip) }}
{% else %}
        ipv4:
          {{ net.ip(ips[loop.index0], cluster_host_prefix_v4) }}
        ipv6:
          {{ net.ip(ipsv6[loop.index0], cluster_host_prefix_v6) }}
    {{ net.dns_dualstack(provisioning_host_external_ip, provisioning_host_external_ip_dualstack) }}
    {{ net.route_dualstack(provisioning_host_external_ip, provisioning_host_external_ip_dualstack) }}
{% endif %}
  interfaces:
    - name: "eth0"
      macAddress: {{ macs[loop.index0] }} 
---
{% endfor %}
