{% if mirror_images == "true" %}
{# base oc mirror registries.conf #}
{{ registries }}
{% if (mirror_command == "oc-mirror") and (agent_deploy_mce == "true") %}
{# oc mirror registries.conf with MCE #}
[[registry]]
prefix = ""
location = "registry.redhat.io/multicluster-engine"
mirror-by-digest-only = false

[[registry.mirror]]
location = "{{ local_registry_dns_name }}:{{ local_registry_port }}/multicluster-engine"

[[registry]]
prefix = ""
location = "registry.redhat.io/rhel8"
mirror-by-digest-only = false

[[registry.mirror]]
location = "{{ local_registry_dns_name }}:{{ local_registry_port }}/rhel8"

[[registry]]
prefix = ""
location = "registry.redhat.io/redhat"
mirror-by-digest-only = false

[[registry.mirror]]
location = "{{ local_registry_dns_name }}:{{ local_registry_port }}/redhat"
{% endif %}
{% endif %}
