- name: Get mirror settings
  set_fact:
    image_content_sources: "{{ lookup('file', mirror_info_file) }}"
  when: mirror_images

- name: write the install-config.yaml 
  template:
    src: "templates/install-config_yaml.j2"
    dest: "{{ install_path }}/install-config.yaml"
  when: platform_type != "baremetal" and platform_type != "vsphere"

- name: write the install-config.yaml
  template:
    src: "templates/install-config_baremetal_yaml.j2"
    dest: "{{ install_path }}/install-config.yaml"
  when: platform_type == "baremetal"

- name: write the install-config.yaml
  template:
    src: "templates/install-config_vsphere_yaml.j2"
    dest: "{{ install_path }}/install-config.yaml"
  when: platform_type == "vsphere"

- name: write the agent-config.yaml 
  template:
    src: "agent-config_yaml.j2"
    dest: "{{ install_path }}/agent-config.yaml"
  when: agent_bond_config == 'none'

- name: write the agent-config.yaml with nics in a bond
  template:
    src: "agent-config_bond_yaml.j2"
    dest: "{{ install_path }}/agent-config.yaml"
  when: agent_bond_config != 'none'
